# FastAPI & Server
fastapi
uvicorn[standard]
python-multipart

# Database (Async)
sqlalchemy
asyncpg
alembic

# Validation
pydantic
pydantic-settings
email-validator        # ✅ email validation

# Environment
python-dotenv

# Auth / Security (ADDED)
python-jose[cryptography]   # ✅ JWT
passlib[bcrypt]>=1.7.4
bcrypt==4.0.1
          

# PDF / Image
reportlab
Pillow
xhtml2pdf

# HTML / Templates
lxml
html5lib
Jinja2

# Async
anyio

# HTTP
requests

# Logging
structlog

# Utils
python-dateutil
pyyaml
